<%- include('partials/header') %>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto"> <!-- Limita el ancho y centra -->
      <form action="/create" id="formulario-producto" autocomplete="off" method="post" enctype="multipart/form-data">
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white">
            <strong>Registro de Producto</strong>
          </div>

          <div class="card-body">
            <div class="row g-2">
              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre del producto" required>
                  <label for="nombre">Nombre del producto</label>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input type="number" id="precio" name="precio" class="form-control" placeholder="Precio" step="0.01" min="0" required>
                  <label for="precio">Precio (S/)</label>
                </div>
              </div>
            </div>

            <div class="row g-2">
              <div class="col-md-3 mb-2">
                <div class="form-floating">
                  <select name="marca_id" id="marca_id" class="form-select" required>
                    <option value="" selected disabled>Seleccione</option>
                    <% marcas.forEach(m => { %>
                      <option value="<%= m.id %>"><%= m.nombre %></option>
                    <% }) %>
                  </select>
                  <label for="marca_id">Marca</label>
                </div>
              </div>

              <div class="col-md-3 mb-2">
                <div class="form-floating">
                  <select name="categoria_id" id="categoria_id" class="form-select" required>
                    <option value="" selected disabled>Seleccione</option>
                    <% categorias.forEach(c => { %>
                      <option value="<%= c.id %>"><%= c.nombre %></option>
                    <% }) %>
                  </select>
                  <label for="categoria_id">Categoría</label>
                </div>
              </div>

              <div class="col-md-3 mb-2">
                <div class="form-floating">
                  <select name="talla_id" id="talla_id" class="form-select" required>
                    <option value="" selected disabled>Seleccione</option>
                    <% tallas.forEach(t => { %>
                      <option value="<%= t.id %>"><%= t.talla %></option>
                    <% }) %>
                  </select>
                  <label for="talla_id">Talla</label>
                </div>
              </div>

              <div class="col-md-3 mb-2">
                <div class="form-floating">
                  <select name="color_id" id="color_id" class="form-select" required>
                    <option value="" selected disabled>Seleccione</option>
                    <% colores.forEach(c => { %>
                      <option value="<%= c.id %>"><%= c.nombre %></option>
                    <% }) %>
                  </select>
                  <label for="color_id">Color</label>
                </div>
              </div>
            </div>

            <div class="row g-2">
              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input type="number" id="stock" name="stock" class="form-control" placeholder="Stock" min="0" required>
                  <label for="stock">Stock</label>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <label for="imagen" class="form-label">Imagen del producto</label>
                <input type="file" id="imagen" name="imagen" class="form-control" accept="image/*" required>
              </div>
            </div>
          </div>

          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
            <a href="/" class="btn btn-secondary btn-sm">Cancelar</a>
            <a href="/productos" class="btn btn-info btn-sm">Ver Productos</a>>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const formulario = document.querySelector("#formulario-producto");

    formulario.addEventListener("submit", (event) => {
      event.preventDefault();

      Swal.fire({
        title: 'Productos',
        text: '¿Está seguro de registrar este producto?',
        icon: 'question',
        confirmButtonText: 'Aceptar',
        confirmButtonColor: '#2980b9',
        showCancelButton: true,
        cancelButtonText: 'Cancelar',
        cancelButtonColor: '#c0392b'
      }).then((result) => {
        if (result.isConfirmed){
          formulario.submit();
        }
      });
    });
  });
</script>


<%- include('partials/footer') %>